@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #3b82f6;
	--primary-dark: #2563eb;
}
/* styles.css */
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 12px;
}

.dark {
	--primary: #60a5fa;
	--primary-dark: #3b82f6;
}

body {
	@apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white;
}

.bg-primary {
	background-color: var(--primary);
	background-size: cover;
}

.hover\:bg-primary-dark:hover {
	background-color: var(--primary-dark);
}

.text-primary {
	color: var(--primary);
}

.dark .text-primary-dark {
	color: var(--primary-dark);
}
